<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand logo" href="#">new form</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/notes/create">Create Note</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/notes">notes</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="/notes/view">View Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/notes/update/1">Update Note</a>
      </li>
      
      
    </ul>
  </div>
</nav>
